<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 参考 http://mybatis.github.io/mybatis-3/-->
    <!--把 _ 转换成驼峰命名法-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 类型别名-->
    <typeAliases>
        <package name="com.it.ssm.entity"></package>
    </typeAliases>

</configuration>